.body{
  margin: 0;
}

.gameWindow{
  height: 800px;
  width: 1000px;
}

.space{
  background-color: black;
  height: 800px;
  width: 1000px;
}

.ship{
  background-color: green;

}

.asteroid{
  background-color: aquamarine;

}

.projectile {
  width: 15px;
  height: 2px;
  background-color: deepskyblue;
}