/* Beispiel-Stile für das Spiel */
body {
  background-color: darkgray;
  /* Hintergrundfarbe des Spiels */
  margin: 0;
  /* Entfernt den Standard-Rand um den Seiteninhalt */
  overflow: hidden;
  /* Verhindert das Scrollen der Seite */
}

.leaderboard {
  padding: 0.5rem;
  margin: 0.5rem;
  width: 300px;
  height: 400px;
  overflow-y: scroll;
  background-color: white;
}

table {
  width: 100%;
}

th {
  background-color: gray;
}

tbody:nth-child(odd) td{
  background-color: lightgreen;
}
.game-area {
  background-color: #000;
  /* Hintergrundfarbe des Spiels */
  margin: 0;
}

.spaceship1 {
  position: absolute;
  background-color: greenyellow;
}

.spaceship2 {
  position: absolute;
  background-color: red;
}

.score {
  position: relative;
  background-color: #000;
  color: aliceblue;
  z-index: 3;
}

.wall {
  position: absolute;
  /* Vertikal zentriert */
  left: 100%;
  /* Startposition außerhalb des Bildschirms */
  width: 30px;
  height: 30px;
  animation: bg-color 10s infinite alternate;
}

@keyframes bg-color {
  0% { background-color: purple; }
  25% { background-color: blue; }
  50% { background-color: red; }
  75% { background-color: orange; }
  100% { background-color: yellow; }
}
/* Weitere Stile und Anpassungen für andere Elemente können hinzugefügt werden */


.game-window {
  width: 1920px;
  height: 1080px;
  background-image: linear-gradient(rgba(0, 255, 0, .7) .1em, transparent .1em), linear-gradient(90deg, rgba(0, 255, 0, .7) .1em, transparent .1em);
  background-size: 3em 3em;
}

.space {
  background-color: black;
  width: 1280px;
  height: 768px;
}

.asteroid {
  background-color: aquamarine;
}

.projectile {
  background-color: orangered;
}
