/* Beispiel-Stile für das Spiel */
body {
    background-color: darkgray; /* Hintergrundfarbe des Spiels */
    margin: 0; /* Entfernt den Standard-Rand um den Seiteninhalt */
    overflow: hidden; /* Verhindert das Scrollen der Seite */
  }
  

  .gameArea{
    background-color: #000; /* Hintergrundfarbe des Spiels */
    margin: 0; 
  }

  .spaceship {
    position: absolute;
    background-color: greenyellow;
  }

  .score {
    position: relative;
    background-color: #000;
    color: aliceblue;
    z-index: 3;
  }
  
  
  /* Beispiel-Stile für die Gegner */
  .enemy {
    position: absolute;
    top: 50%; /* Vertikal zentriert */
    left: 100%; /* Startposition außerhalb des Bildschirms */
    transform: translateY(-50%); /* Korrigiert die Vertikalpositionierung */
    width: 30px;
    height: 30px;
    background-color: #ff0000;
  }

  .wall{
    position: absolute;
    top: 50%; /* Vertikal zentriert */
    left: 100%; /* Startposition außerhalb des Bildschirms */
    width: 30px;
    height: 30px;
    background-color:grey;
  }
  
  /* Weitere Stile und Anpassungen für andere Elemente können hinzugefügt werden */

  
.gameWindow{
  height: 700px;
  width: 1200px;
}

.space{
  background-color: black;
  height: 700px;
  width: 1200px;
}

.asteroid{
  background-color: aquamarine;

}

.projectile {
  width: 15px;
  height: 2px;
  background-color: deepskyblue;
}
  